.categorias {
    margin-top: 2em;
    background: rgb(252, 4, 101);
    background: linear-gradient(90deg, rgba(252, 4, 101, 0.5130427170868348) 4%, rgba(242, 105, 0, 0.6222864145658263) 36%, rgba(255, 0, 236, 0.3785889355742297) 76%, rgba(255, 248, 0, 0.5046393557422969) 97%);
}

.li-categorias {
    /* padding: 1em 1em; */
    border: 4px solid #fa725a;
    transition: ease-in-out 0.3s;
    background-color: transparent;
    color: #fa725a;
    font-weight: bolder;
    font-size: 2em;
}

.li-categorias:hover {
    transform: scale(1.2) rotate(10deg);
    background-color: #fa725a;
    color: white;
}

#headerCategorias {
    display: flex;
    justify-content: space-evenly;
}


.link-header {
    padding: 0.6em 1em;
    border: 4px solid #fa725a;
    transition: ease-in-out 0.3s;
    background-color: transparent;
    color: #fa725a;
    font-weight: bolder;
    font-size: 16px;
}

.link-header:hover {
    transform: scale(1.2) rotate(10deg);
    background-color: #fa725a;
    color: white;
}
